{% extends "layout.html.twig" %} {% block title %}{{ article.name }}{% endblock %} {% block content %}

<body>
    <div class="container">
        <section class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="{{app.request.basepath}}/images/1.jpg">
                </div>
            </div>
            <div class="col-md-6 jumbotron">
                <h2>{{ article.name }}</h2>
                <p>
                    {{ article.desc }}
                </p>
            </div>
        </section>
    </div>
</body>
{% endblock %}