body {
    padding-top: 80px;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    margin: 20px;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}